/* http://localhost:5173/ 
Corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #95aabe; /* Fundo azul escuro */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white; /* Texto branco por padrão */
}

/* Título principal */
h1 {
  color: #1b1b56; /* Cinza para o título */
}

/* Container da aplicação */
.container {
  background-color: #a6acb2; /* Fundo mais escuro para o container */
  padding: 22px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px; /* Ajuste o tamanho conforme necessário */
}

/* Botão */
button {
  background-color: #355686; 
  color: white;
  border: none;
  padding: 10px;
  border-radius: 40px;
  cursor: pointer;
}

button:hover {
  background-color: #355686; /* Lilás mais escuro no hover */
}

/* Estilo para o formulário */
form {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin: 3px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 90%;
}

/* Título da Tarefa (input de texto) */
input[type="text"] {
  background-color: #355686; 
  color: #fff; /* Texto branco */
}

/* Data (input de data) */
input[type="date"] {
  background-color: #355686; 
  color: white;
}

/* Estilo para o título "Adicionar Tarefa" */
h2 {
  color: #2a3743; 
}

/* Modificar o placeholder da data */
input[type="date"]::-webkit-input-placeholder {
  color: white;
}

/* Modificar o placeholder do título */
input[type="text"]::-webkit-input-placeholder {
  color: white;
}
